{% extends 'base.html' %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center"
                             style="background-image:url({% static 'images/bg_1.png' %});">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <h1 class="big">About</h1>
                            <h2 class="mb-4">About Me</h2>
                            <p>Hello! I am a passionate and curious backend developer with expertise in Django and
                                Python. I am
                                a naturally creative individual with a knack for generating ideas at lightning speed.
                                Being a
                                fast learner, I am constantly exploring new technologies and refining my skills to stay
                                on top
                                of the latest industry trends. My love for technology drives me to delve into various
                                coding
                                projects and challenges. I pride myself on being a self-study enthusiast, as it allows
                                me to
                                acquire new knowledge and skills independently.</p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span>Name:</span> <span>Amirhossein Yazdanpanah</span></li>
                                <li class="d-flex"><span>Date of birth:</span> <span>May 09, 1999</span></li>
                                <li class="d-flex"><span>Address:</span> <span>Tehran</span></li>
                                <li class="d-flex"><span>Email:</span> <span>1yzamiryz1@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="counter-wrap ftco-animate d-flex mt-md-3">
                        <div class="text">
                            <p class="mb-4">
                                <span class="number" data-number="18">0</span>
                                <span>Project complete</span>
                            </p>
                            <p><a href="{% url 'main:contact' %}" class="btn btn-primary py-3 px-3">Contact Me</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-project" id="projects-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h1 class="big big-2">Certificates</h1>
                    <h2 class="mb-4">My Certificates</h2>
                </div>
            </div>
            {% for type, certificates in grouped_certificates.items %}
                <div class="row justify-content-center pb-5">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <h1 class="big big-2">{{ type }}</h1>
                        <h2 class="mb-4">{{ type }}</h2>
                    </div>
                </div>
                <div class="row">
                    {% for certificate in certificates %}
                        <div class="col-md-6">
                            <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                                 style="background-image: url({{ certificate.image.url }});">
                                <div class="overlay"></div>
                                <div class="text text-center p-4">
                                    <h3><a href="{{ certificate.credential_url }}">{{ certificate.name }}</a></h3>
                                    <span>{{ certificate.type }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}