{% extends 'base.html' %}
{% load static %}
{% block title %}
    Contact
{% endblock %}

{% block content %}

    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h1 class="big big-2">Contact</h1>
                    <h2 class="mb-4">Contact Me</h2>
                    <p>let's get in touch</p>
                </div>
            </div>

            <div class="row d-flex contact-info mb-5">
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-map-signs"></span>
                        </div>
                        <h3 class="mb-4">Address</h3>
                        <p>Tehran</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-telegram"></span>
                        </div>
                        <h3 class="mb-4">Telegram</h3>
                        <p><a href="https://t.me/Amirhosseinyz1">Amirhosseinyz1</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-paper-plane"></span>
                        </div>
                        <h3 class="mb-4">Email Address</h3>
                        <p><a href="mailto:1yzamiryz1@gmail.com">1yzamiryz1@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-globe"></span>
                        </div>
                        <h3 class="mb-4">Website</h3>
                        <p><a href="https://1amiryz1.ir">1amiryz1.ir</a></p>
                    </div>
                </div>
            </div>

            <div class="row no-gutters block-9">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="{% url 'main:contact' %}" class="bg-light p-4 p-md-5 contact-form" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="" class="form-control" name="name" placeholder="Your Name"
                                   required="required"
                                   data-validation-required-message="Please enter your name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Your Email"
                                   required="required"
                                   data-validation-required-message="Please enter your email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" placeholder="Subject"
                                   required="required" data-validation-required-message="Please enter a subject">
                        </div>
                        <div class="form-group">
                        <textarea name="message" cols="30" rows="7" class="form-control"
                                  placeholder="Message" required="required"
                                  data-validation-required-message="Please enter your message"></textarea>
                        </div>
                        <div class="form-group">{{ form.captcha }}</div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>

                <div class="col-md-6 d-flex">
                    <div class="img" style="background-image: url({% static 'images/about.jpg' %});"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}